<h1>Chow Now</h1>

<form>  
    <!-- keyword field -->
    <div class="form-group">
      <label for="keyword">Keyword:</label><br>
      <input id="keyword" type="text" class="form-control"/>
      <br>
    </div>
  
    <!-- price field: in Yelp API prices are 1,2,3,4 -->
    <p>Price:</p>
    <div class="custom-control custom-radio">
      <input id="super" type="radio" name="price" value="4" class="custom-control-input" />
      <label for="super" class="custom-control-label">$$$$</label><br>
    </div>
    <div class="custom-control custom-radio">
      <input id="high" type="radio" name="price" value="3" class="custom-control-input" />
      <label for="high" class="custom-control-label">$$$</label><br>
    </div>
    <div class="custom-control custom-radio">
      <input id="mid" type="radio" name="price" value="2" class="custom-control-input" />
      <label for="mid" class="custom-control-label">$$</label><br>
    </div>
    <div class="custom-control custom-radio">
      <input id="low" type="radio" name="price" value="1" class="custom-control-input" />
      <label for="low" class="custom-control-label">$</label><br><br>
    </div>
  
    <!-- radius field, in meters -->
    <div class="form-group">
      <label for="radius">Radius (meters):</label>
      <input id="radius" type="number" class="form-control" />
      <br>
    </div>
    <button class="btn btn-primary">Search</button>
  </form>